<div style="max-width: 400px; margin: 50px auto;">
  <h2>Simple App</h2>

  <div *ngIf="!loggedIn">
    <h3>Login</h3>
    <input [(ngModel)]="username" placeholder="Username" />
    <input [(ngModel)]="password" type="password" placeholder="Password" />
    <button (click)="login()">Login</button>
  </div>

  <div *ngIf="loggedIn">
    <h3>Add Item</h3>
    <input [(ngModel)]="itemName" placeholder="Item name" />
    <input [(ngModel)]="itemPrice" type="number" placeholder="Pricee" />
    <button (click)="add()">Add</button>
  </div>
</div>